{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-header %}{% trans "Log In" %}{% endblock %}
{% block modal_class %}login {% if hide %}modal hide{% endif %}{% endblock %}

{% block form_action %}{% url login %}{% endblock %}
{% block autocomplete %}{{ HORIZON_CONFIG.password_autocomplete }}{% endblock %}

{% block modal-body %}
  <fieldset>
    {% if request.user.is_authenticated and 'next' in request.GET %}
    <div class="control-group clearfix error">
      <span class="help-inline"><p>{% trans "You don't have permissions to access:" %}</p>
        <p><b>{{ request.GET.next }}</b></p>
        <p>{% trans "Login as different user or go back to" %}
        <a href="{% url horizon:user_home %}">{% trans "home page" %}</a></p>
      </span>
    </div>
    {% endif %}
    {% for message in messages %}
      {% if "info" in message.tags %}
        <div class="alert alert-block alert-info fade in">
          <p><strong>{% trans "Info: " %}</strong>{{ message }}</p>
        </div>
      {% endif %}
      {% if "warning" in message.tags %}
        <div class="alert alert-block alert-warning fade in">
          <p><strong>{% trans "Warning: " %}</strong>{{ message }}</p>
        </div>
      {% endif %}
      {% if "success" in message.tags %}
        <div class="alert alert-block alert-success fade in">
          <p><strong>{% trans "Success: " %}</strong>{{ message }}</p>
        </div>
      {% endif %}
      {% if "error" in message.tags %}
        <div class="alert alert-block alert-error fade in">
          <p><strong>{% trans "Error: " %}</strong>{{ message }}</p>
        </div>
      {% endif %}
    {% endfor %}
    {% if next %}<input type="hidden" name="{{ redirect_field_name }}" value="{{ next }}" />{% endif %}
    {% include "horizon/common/_form_fields.html" %}
    {% if gakunin_configured %}
    <div align="center"><a href="{{ gakunin_login_url }}">Sign In with GakuNin</a></div>
    {% endif %}
  </fieldset>
{% endblock %}

{% block modal-footer %}
  <button type="submit" class="btn btn-primary pull-right">{% trans "Sign In" %}</button>
{% endblock %}
